h1, h2 {
    text-align: center;
    color: #333;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}


/* Простой стиль для блока с циклами */
.cycle-section {
    width: 50%;
    margin: 20px auto;
    border: 1px solid #000;
    text-align: center;
}

